<ion-content [fullscreen]="true" class="fondo">
  
  <div class="logo" style="margin-top : 70px"></div>

  <ion-card color="light" style="margin-top : 15px">
    <ion-card-header>
      <div class="titulo">
        <ion-card-title style="margin-top: -50px;">Ingresa tu correo</ion-card-title>
      </div>
      <div class="subtitulo">
        <ion-card-subtitle style="text-align: center;">Se enviará un mensaje a tu correo para cambiar la contraseña</ion-card-subtitle>
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <div class="contenedor-input">
        <div class="correo">
          <img src="./../../../assets/img/mail.jpg" width="30" height="30">
        </div>
        <div style="margin-left: 10px;">
          <div style="margin-left: 10px;">
            <ion-input [(ngModel)]="correo" label="Correo" labelPlacement="floating"
            placeholder="ingrese"></ion-input>
          </div> 
        </div>
      </div>

      <div style="margin: 25px;">
        <ion-button id="present-alert" color ="warning" expand="block" (click)="irRestablece()">Enviar correo</ion-button>
        <ion-alert
          trigger="present-alert"
          header="Alert"
          subHeader="Correo enviado exitosamente"
          [buttons]="alertButtons"
          style="border-radius: 10%;"
        ></ion-alert>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
