#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.fondo{
  --background: url(../../../assets/img/fondohome.png) 0/100% 100%;
}
.titulo{
  text-align: center;
  margin-top: 200px;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 25px;
  color: antiquewhite;
}
.logo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(./../../../assets/img/qr.PNG) 0/100%;
  margin: auto;
}
.boton{
  margin-top: 15px;
  text-align: center;
}